<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>登入系統</title>

        <script src="../static/script.js"></script> <!--請改變路徑-->
    </head>
    <body>
        <h2>使用者登入</h2>
        <form action="/page_login" method="POST"></form>
            <label for="username">帳號:</label>
            <input type="text" id="username" name="username" required>
            <br>
            <label for="password">密碼:</label>
            <input type="password" id="password" name="password" required>
            <br>
            <br>
            <input type="submit" value="登入">
        </form>
        <div>
            <p>沒有帳號? <a href="/register"> 註冊</a></p> <!--請改變路徑-->
        </div>
    </body>
</html>