<!DOCTYPE html>
<html>
<head>
    <meta charset = "UTF-8">
    <title>112201523_王又宣</title>
    <style>
        table {
          width: 100%;
          border-collapse: collapse;
          text-align: center;
        }
        td {
          border: 1px solid black;
          padding: 10px;
          vertical-align: top;
        }
        img {
          width: 300px;   /* 調整圖片大小 */
          height: auto;
        }
        a {
          display: block; /* 讓文字在新的一行 */
          margin-top: 8px;
        }
      </style>
</head>
<body>
    <h1>我的個人首頁</h1>
    <table border = "1">
        <tr>
            <th>項目</th>
            <th>內容</th>
            <th>圖片</th>
        </tr>
        <tr>
            <td>科系</td>
            <td>數學系</td>
            <td>
                <a href = "112201523_detail.html">
                    <img src = "../static/img/hongjinguan.jpg">
                </a><br>
                <a href = "112201523_detail.html">這是數學系館!</a>
            </td>
        </tr>
        <tr>
            <td>興趣</td>
            <td>朗讀</td>
            <td>
                <a href = "112201523_detail.html">
                    <img src = "../static/img/IMG_3005.png">
                </a><br>
                <a href = "112201523_detail.html">國小參加比賽領獎</a>
            </td>
        </tr>
        <tr>
            <td>偶像</td>
            <td>易烊千璽</td>
            <td>
                <a href = "112201523_detail.html">
                    <img src = "../static/img/idol.webp">
                </a><br>
                <a href = "112201523_detail.html">帥哥帥哥</a>
            </td>
        </tr>
    </table>
</body>

</html>